 
<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-lock-task"
    version="1.0.0">
    <name>Cordova Plugin Lock Task</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/anywaydoit/cordova-lock-task.git</repo>
    <issue>https://github.com/anywaydoit/cordova-lock-task/issues</issue>

    <!-- android -->
    <platform name="android">
     <preference name="android-minSdkVersion" value="29" />
     <preference name="android-targetSdkVersion" value="29"/>
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- Window variable -->
        <clobbers target="LockTask" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="LockTask">
          <param name="android-package" value="com.locktask.ep" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/LockTask.java" target-dir="src/com/" />
    </platform>

</plugin>
